# Python - Archivos generados y entornos virtuales
__pycache__/
*.py[cod]
*$py.class
venv/
.venv
env/
.env

# Mac - Archivos del sistema
.DS_Store
.AppleDouble
.LSOverride

# Datos y Excel - Evitar subir archivos temporales de Jira
~$*
*.csv
*.xlsx
# Solo permitimos archivos en la carpeta /data si son de ejemplo
!data/*.csv
